tarefa08/cardapio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="PratoID">
    <xs:restriction base="xs:ID">
      <xs:pattern value="[pP][0-9]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="cardapio">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="prato" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nome" type="xs:string"/>
              <xs:element name="descricao" type="xs:string"/>
              <xs:element name="ingredientes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ingrediente" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="preco" maxOccurs="unbounded">
                <xs:complexType mixed="true">
                  <xs:attribute name="moeda" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="calorias" type="xs:integer"/>
              <xs:element name="tempoPreparo" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="PratoID" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>