tarefa06/quiz.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="quiz">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="questao" type="questaoType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="questaoType">
    <xs:sequence>
      <xs:element name="pergunta" type="xs:string"/>
      <xs:element name="alternativa" type="alternativaType" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="alternativaType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="letra" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="a"/>
              <xs:enumeration value="b"/>
              <xs:enumeration value="c"/>
              <xs:enumeration value="d"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="correta" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="sim"/>
              <xs:enumeration value="nao"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>